name: GitHub manual trigger Demo
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run the workflow on'
        required: true
        default: 'main'
        type: 'choice'
        options:
          - main
          - staging
          - production
